
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
     
    background-color: lightgray; 

    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/*
#name,.password,#login,#email{
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    padding: 10px;
  }
  
  #bttlogar{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    
  }*/
  
  .loginpag{
    font-family: 'Segoe UI', sans-serif;
  }
  
  p.loginpag{
    font-size:small ;
  }
  
  main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
  }
  
  main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #04AA6D, #037c50);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    position: relative;
  }
  
  form .input-field:first-child {
    margin-bottom: 1.5rem;
  }
  
  .input-field .underline {
    margin-top: 0.5px;
    
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  
  /*.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
  }*/
  
 /* .input-field input:focus ~ .underline::after {
    transform: scaleX(1);
  }*/
  
  .input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  
  .input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
   button[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #04AA6D, #037c50);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
   button[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, lightgray, #9b9a9a);
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
  }
  
  p{
    font-size: small;
  }

  
  
 